.simulator-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    padding: 1em 0 1em 1em;
}
.simulator-button {
    text-align: center;
    background: var(--color-darker);
    padding: 2em;
    border-radius: 1em;
    font-size: 1.22em;
}
@media (max-width: 600px) {
    .simulator-button {
        padding: 5vw;
        font-size: 6vw;
    }
}